.add-new-book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;

    width: 624px;
    padding: 32px;
    margin: 16px;

    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%), 0 3px 4px 0 rgb(0 0 0 / 8%), 0 1px 5px 0 rgb(0 0 0 / 10%);

    form {
        display: flex;
        flex-direction: column;
        width: 100%;

        .form-elements {
            margin-top: 24px;
            margin-bottom: 48px;
        }
    }

    font-family: "VWAGTheSans-Bold";

    h1 {
        font-size: 24px;
    }
}
